@import "./palette";
@import "./variables";

@mixin heading {
  font-size: 36px;
  color: $heading-color;
  font-family: $heading-font;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
