@font-face {
  font-family: "muli";
  src: url(../fonts/Muli.woff);
}

@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Medium.woff);
}

@font-face {
  font-family: "oswald";
  src: url(../fonts/Oswald-Bold.woff);
}

$primary-font: "poppins";
$heading-font: "oswald";
$secondary-font: "muli";
