@import "./reset";
@import "./palette";
@import "./variables";
@import "./mixins";
@import "./media-queries";

p {
  font-family: $primary-font-family;
}

span {
  font-family: $secondary-font-family;
}

.flex {
  display: flex;
}

.justify {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.dropdown .btn-secondary {
  background-color: $secondary-bg-color;
  color: $secondary-text-color;
}
